@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background: rgb(248, 248, 248);
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
#navbar{
    background: #fff;
    color: #000;
    padding: 2rem;
}

#navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 6rem;
}

#navbar .container .list{
    list-style: none;
    display: flex;
}

#navbar .container .list li{
    padding: 0 2rem;
}

#navbar .container .list li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: 600;
}

#navbar .container .search_box #search{
    border: none;
    padding: 1.2rem 2rem;
    font-size: 18px;
    background: url('./assets/icon-search.png') left center no-repeat ;
    background-position: 7%;
    height: 2rem;
    width: 10rem;
    border: 1px solid #BBBBBB;
    border-radius: 7px;
}

/* Content styling */

#product .container{
    display: flex;
}

#product .container .product-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    flex: 2;
    background-color: #EAEAEA;
}

#product .container .product-img img{
    width: 100%;
}

#product .container .product-info{
    padding: 3rem;
    flex: 1;
    height: 90vh;
    overflow: auto;
}

#product .container .product-info p{
    padding-bottom: 1rem;
}

#product .container .product-info .btn{
    background: #000;
    color: #fff;
    padding: 2rem;
    width: 100%;
    border: none;
    border-radius: 7px;
    margin: 2rem 0;
    font-size: 1.2rem;
}

#product .container .product-info button img{
    padding-left: 1rem;
}

#product .container .product-info .options{
    padding-bottom: 1rem;
}

#product .container .product-info .options .select-color-options{
    display: flex;
    margin-bottom: 1rem;
}

#product .container .product-info .options .option1,
#product .container .product-info .options .option2,
#product .container .product-info .options .option3{
    border-radius: 7px;
    border: 1px solid #000;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    display: flex;
}

.option1 .color1{
    background: #49CFA6;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    flex: 1;
}

.option1 .color2{
    background: #E8936D;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    flex: 1;
}

.option2 .color1{
    background: #4E5C89 ;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    flex: 1;
}

.option2 .color2{
    background: #5FA6B7 ;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    flex: 1;
}

.option3 .color1{
    background: #000;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    flex: 1;
}

.option3 .color2{
    background: #fff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    flex: 1;
}

.select-size-option{
    display: flex;
    flex-wrap: wrap;
}

.select-size-option .option1{
    border-radius: 7px;
    border: 1px solid #000;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
}

.current{
    background: #000;
    color: #fff;
}

.l-heading{
    font-size: 35px;
    padding-bottom: 1rem;
}

.m-heading{
    font-size: 20px;
    padding-bottom: 1rem;
}

.more-info-para-title{
    font-size: 16px;
    display: block;
    font-weight: bold;
}