@media(max-width:540px){
     
    body{
        height: 100vh;
        overflow: auto;
    }

    #navbar{
        background: #fff;
        color: #000;
        padding: 1rem;
    }

    #navbar .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }

    #navbar .container img{
        height: 2rem;
        width: 3rem;
    }
    
    #navbar .container .list{
        list-style: none;
        display: flex;
    }
    
    #navbar .container .list li{
        padding: 0 0.5rem;
    }
    
    #navbar .container .list li a{
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 600;
    }

    #navbar .container .search_box #search{
        border: none;
        padding: 0;
        font-size: 16px;
        background: url('./assets/icon-search.png') center center no-repeat ;
        height: 2.5rem;
        width: 2.5rem;
        border: none;
    }

    #navbar .container .search_box #search::placeholder{
        color: transparent;
    }

    #product .container{
        display: flex;
        flex-direction: column;
    }

    #product .container .product-img{
        display: block;
        width: 100%;
        padding: 0 3rem;
        background-color: #EAEAEA;
    }

    /* #flex-order{
        display: flex;
        flex-direction: column;
    }
    
    #order3{
        order: 3;
    }
    #order1{
        order: 1;
    }

    #order2{
        order: 2;
    } */

   
}